<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>results</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{{ url_for("static", filename="css/reset.css") }}'>
    <link rel="stylesheet" href='{{ url_for("static", filename="css/styles.css") }}'>
    <style>
        
    
    
    </style>
</head>
<header>
    <ul>
       <li><a href="/">Главная</a></li>
       <li><a href='/about'>О тесте</a></li>
   </ul>
</header>
<body>

        <h1>О тесте</h1>
        
        <p class="simple">
           Тест Сонди —  проективный личностный тест c методом портретных выборов
            <br>Эксперимент состоит в том, что человек должен выбрать наиболее симпатичные и наименее приятные портреты мужчин и женщин. Каждый портрет отражает в наиболее заостренном виде проявление одной из основных восьми базисных человеческих влечений.
            <br>Каждое из них в зависимости от формализованных показателей выявляет ту или иную патологию или проблему обследуемой личности.
            <br>Сонди полагает, что типологически разные личностные структуры могут быть представлены различными сочетаниями этих 8-ми основных влечений:
        </p>
        <ul class="simple">
            <li>h — сексуальная недифференцированность;</li>
            <li>s — садизм-мазохизм;</li>
            <li>е — эпилептоидные тенденции;</li>
            <li>hy — истерические склонности;</li>
            <li>k — кататонические проявления;</li>
            <li>р — паранойяльность;</li>
            <li>d — депрессивное состояние;</li>
            <li>m — маниакальные состояния.</li>
        </ul>
        <p class="simple">
            <br>Согласно теории, у каждого конкретного человека в течение жизни на почве унаследованных генотипических свойств проявляется обусловленный ими выбор (генотропизм) в отношении тех лиц, которые близки его собственному личностному паттерну, т.е. по принципу подобия.
            <br>Поэтому на основании загруженной фотографии мы можем  провести обратный тест Сонди.
        </p>

        <button type="submit"><a href="/">вернуться</a></button>

</body>
</html>