<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{{ url_for("static", filename="css/reset.css") }}'>
    <link rel="stylesheet" href='{{ url_for("static", filename="css/styles.css") }}'>
</head>
<header>
    <ul>
       <li><a href="/">Главная</a></li>
       <li><a href='/about'>О тесте</a></li>
   </ul>
</header>
<body>
    <h1></h1>
<p class="simple">Загрузите фото или нажмите кнопку "Открыть камеру", чтобы воспользоваться камерой</p>
<h2></h2>
<div>
    <form method="post" action="" enctype=multipart/form-data>
        <label class="custom-file-upload">
           Выбрать файл
            <input type=file name="file">
        </label>
        <button type="submit">Загрузить</button>
    </form>
</div>
<div>
    <form method="post" action="open_cam">
    <button id="cam" type="submit">Открыть камеру</button>
</form>

</div>


<div>
<h2> </h2>
    <form method="POST" action="runFN" >
        <button name="" type="submit">Запуск</button>
    </form>
</div>

</body>
</html>